<section>
    <h1 class="mb-4">Inputs</h1>
    <p class="mt-4 mb-2">Default</p>
    <input class="input" type="text">

    <p class="mt-4 mb-2">Disabled</p>
    <input class="input" type="text" value="whatever" disabled>

    <p class="mt-4 mb-2">Read only</p>
    <input class="input" type="text" value="whatever" readonly>

    <p class="mt-4 mb-2">Error (obs.: validate low case)</p>
    <input class="input" type="text" value="abcD" pattern="[a-z]+">

    <div class="mt-2 did-floating-label-content">
        <input class="input did-floating-input" type="text" placeholder=" ">
        <label class="did-floating-label">Sale Price</label>
      </div>
</section>

