@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./buttons.scss";

:root {
  --fnx-color-brand-main01: #ff8200;
  --fnx-color-brand-main02: #50555a;
  --fnx-color-digital-primary-extralight: #fff0e4;
  --fnx-color-digital-primary-lightest: #ffb578;
  --fnx-color-digital-primary-light: #ff8826;
  --fnx-color-digital-primary-medium: #ef6c00;
  --fnx-color-digital-primary-dark: #bf5600;
  --fnx-color-digital-primary-darkest: #8f4100;
  --fnx-color-digital-primary-extradark: #602b00;
  --fnx-color-digital-secondary01-extralight: #ecdff0;
  --fnx-color-digital-secondary01-lightest: #c69ed3;
  --fnx-color-digital-secondary01-light: #aa6ebc;
  --fnx-color-digital-secondary01-medium: #a05eb5;
  --fnx-color-digital-secondary01-dark: #844597;
  --fnx-color-digital-secondary01-darkest: #633471;
  --fnx-color-digital-secondary01-extradark: #42234b;
  --fnx-color-digital-secondary02-extralight: #dcfffb;
  --fnx-color-digital-secondary02-lightest: #00e7cd;
  --fnx-color-digital-secondary02-light: #00c4ae;
  --fnx-color-digital-secondary02-medium: #00a18f;
  --fnx-color-digital-secondary02-dark: #008172;
  --fnx-color-digital-secondary02-darkest: #006156;
  --fnx-color-digital-secondary02-extradark: #004039;
  --fnx-color-digital-secondary03-extralight: #e1e9f5;
  --fnx-color-digital-secondary03-lightest: #a6bce0;
  --fnx-color-digital-secondary03-light: #799bd1;
  --fnx-color-digital-secondary03-medium: #6a90cc;
  --fnx-color-digital-secondary03-dark: #3f6eb9;
  --fnx-color-digital-secondary03-darkest: #2f538b;
  --fnx-color-digital-secondary03-extradark: #20375c;
  --fnx-color-digital-grayscale-extralight: #fcfcfc;
  --fnx-color-digital-grayscale-lightest: #dbdddf;
  --fnx-color-digital-grayscale-light: #b7bbbf;
  --fnx-color-digital-grayscale-medium: #93999f;
  --fnx-color-digital-grayscale-dark: #6d747a;
  --fnx-color-digital-grayscale-darkest: #50555a;
  --fnx-color-digital-grayscale-extradark: #080809;
}
