.input {
    --input-radius: 4px;
    --input-color-error: #E00707;
    --input-default-color: #004E87;

    border: 1px solid var(--fnx-color-digital-grayscale-light);
    border-radius: var(--input-radius);
    font-size: 16px;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212223;
    outline: none;
    width: 100%;

    // native effects
    &:invalid {
        border: 1px solid var(--input-color-error);
        color: var(--input-color-error);

        &:focus {
            outline: 2px solid var(--input-color-error);
        }
    }

    &:hover:not(:focus):not(:disabled):not(:invalid):not(:read-only) {
        border: 1px solid var(--input-default-color);
    }

    &:focus:not(:disabled):not(:invalid) {
        outline: 2px solid var(--input-default-color);
        border: 1px solid var(--input-default-color);
    }

    &:disabled {
        border: 1px solid #6F7276;
        background: #EAEBEB;
        color: #6F7276;
    }

    &:read-only:not(:disabled):not(select) {
        background: #EAEBEB;
        border: 1px solid #C1C3C5;
        color: #6F7276;

        &:focus {
            outline: 2px solid #C1C3C5;
        }
    }

    // sizes
    &.input-sm {
        height: 32px;
    }
    &.input-md {
        height: 40px;

    }
    &.input-lg {
        height: 48px;
    }
}


.field-wrapper {
    display: flex;
    position: relative;

    input:required+label::after,
    input:invalid:required+label {
        content: " *";
        color: var(--input-default-color);
    }

    label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        // background: linear-gradient(0deg, rgb(255, 255, 255) 46%, rgba(0, 212, 255, 0) 24%);
        color: var(--input-default-color);
        padding: 0 4px;
        margin-left: 20px;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }

    select[value=""]:focus+label,
    textarea:focus+label,
    input:focus+label {
        color: var(--input-default-color);
        top: 0;
        transform: translateY(-50%) scale(0.9) !important;
    }

    select:not([value=""]):valid~label,
    textarea:not(:placeholder-shown)+label,
    input:not(:placeholder-shown)+label {
        top: 0;
        transform: translateY(-50%) scale(0.9) !important;
    }

    textarea:not(:focus)::placeholder,
    input:not(:focus)::placeholder {
        opacity: 0;
    }

    &__group {
        &--suffixe {
            .suffixe {
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }

            input {
                padding-right: 44px;
            }
        }

        &--prefixe {
            .prefixe {
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
            }

            label {
                margin-left: 44px;
            }

            input {
                padding-left: 44px;
            }
        }

    }

}